name: Build Docker Image

on:
  push:
    branches:
      - "main"
  release:
    types: [published]

jobs:
  docker:
    runs-on: ubuntu-latest
    permissions:
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Variables
        id: vars
        run: |
          echo "sha_long=$(git rev-parse HEAD)" >> $GITHUB_OUTPUT
          echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
          echo "release_version=${GITHUB_REF#refs/tags/v}" >> $GITHUB_OUTPUT

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          registry: https://ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: |
            ghcr.io/scouterna/j26-booking:${{ steps.vars.outputs.sha_short }}-migrate
            ${{ github.event_name == 'release' && format('ghcr.io/scouterna/j26-booking:{0}-migrate', steps.vars.outputs.release_version) || '' }}
          labels: |
            org.opencontainers.image.created=${{ github.event.head_commit.timestamp }}
            org.opencontainers.image.revision=${{ steps.vars.outputs.sha_long }}
            org.opencontainers.image.source=https://github.com/${{ github.repository }}
            org.opencontainers.image.description=Jamboree26 Booking System Migration
            org.opencontainers.image.licenses=MIT
          target: migrate

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: |
            ghcr.io/scouterna/j26-booking:latest
            ghcr.io/scouterna/j26-booking:${{ steps.vars.outputs.sha_short }}-app
            ${{ github.event_name == 'release' && format('ghcr.io/scouterna/j26-booking:{0}-app', steps.vars.outputs.release_version) || '' }}
          labels: |
            org.opencontainers.image.created=${{ github.event.head_commit.timestamp }}
            org.opencontainers.image.revision=${{ steps.vars.outputs.sha_long }}
            org.opencontainers.image.source=https://github.com/${{ github.repository }}
            org.opencontainers.image.description=Jamboree26 Booking System
            org.opencontainers.image.licenses=MIT
